# Ignore Copernicus Credentials
credentials.py
.env

# Ignore Large Satellite Data (Too big for GitHub)
*.zip
*.SAFE/
*.jp2
*.tif

# Ignore Local Database
*.db

# Ignore Python Cache
__pycache__/
*.pyc